{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container">
    <h1 class="mb-3">All Quizzes/Tests</h1>
    <div class="row mb-3">
      {% for quiz in quiz_list %}
        <div class="col-lg-4 mb-3">
          <div class="card text-center h-100">
            <h5 class="card-header">{{ quiz.name }}</h5>
            <div class="card-body">
              <p class="card-text">{{ quiz.description }}</p>
            </div>
            <div class="card-footer">
              {% if request.user.is_staff %}
                <a href="{% url 'quiz:start' quiz.slug %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-play mr-2"></i>Start Quiz</a>
              {% endif %}
              {% if request.user.is_authenticated %}
                <a href="{% url 'quiz:detail' quiz.slug %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye mr-2"></i></i>View Questions</a>
              {% endif %}
              {% if request.user.is_superuser %}
                <hr>
                <a href="{% url 'quiz:update' quiz.slug %}" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square mr-2"></i>Rename</a>
                <a href="{% url 'quiz:delete' quiz.slug %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash mr-2"></i>Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}